source /boot/grub/config.cfg

menuentry "ECZOS proberen" --hotkey=l {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@
	initrd	@INITRD_LIVE@
}

menuentry "ECZOS installeren" --hotkey=i {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@ eczos-installer
	initrd	@INITRD_LIVE@
}

submenu "Hulpprogramma's" --hotkey=u {
	source /boot/grub/theme.cfg

	if @ENABLE_MEMTEST@; then
		source /boot/grub/memtest.cfg
	fi

	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI-firmware-instellingen" --hotkey=f {
			fwsetup
		}
	fi

	if @ENABLE_VERIFY_CHECKSUMS@; then
		menuentry "Installatiemedium controleren" --hotkey=v {
			linux	@KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
			initrd	@INITRD_LIVE@
		}
	fi
}
